*,
*::before,
*::after {box-sizing: border-box;}
html {width: 100%; min-height: 100%; height:100%; scroll-behavior: smooth;}
body {font-family: 'Source Sans Pro', sans-serif;  height:100%; color: #2E2706; font-size: 19px; font-weight: 300; padding: 0px; margin: 0px;}
h1,
h2,
h3,
h4,
h5,
h6 { }
img { max-width: 100%; }
p { margin: 0; padding: 0; line-height:1.5; }
a { text-decoration: none; transition:  .2s ease; }
a:hover { text-decoration: none; }
ul { list-style: none; }
.no-pad { padding: 0 !important; }
.no-spacing{ margin: 0 !important; }
.no-pad-rt { padding-right: 0!important; }
.no-pad-lft { padding-left: 0!important; }
.no-floting { float: none; }
.hor-center { margin: auto; }
.hor-spacer-10 { margin-top: 10px; }
.rel { position: relative; }
.abs { position: absolute; }
.txt-center { text-align: center; }
.mTop25 { margin-top: 25px; }
.m-100{
    min-height: 100vh;
}
h2{
    font-size: 24px;
}
h3.mainheading{font-size:62px; color:#2a2201; font-weight:900; text-transform:uppercase;}
h3.subheading{font-size:36px; color:#2a2201; font-weight:900;}
h3.subheading span{color:#C8D544;}

/**************************************************
    Buttons
***************************************************/
.bg-green{
    background: #0b544b;
}
.btn-green, .btn-shadow{
    background: #a7e01d;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -1px;
    padding: 10px 25px;
    transition: background .5s ease;
    border: 0px;
}
.btn-green:hover, .btn-shadow:hover{
    background: #282828;
    color: #fff;
    transition: background .5s ease;
}
.btn-shadow {
    background: radial-gradient(circle farthest-side, #56ab2f, #7EDF09);   
}
.btn-shadow:hover{
    background: radial-gradient(circle farthest-side, #56ab2f, #000000); 
}

.btn-shadow.btn-lg{
    padding: 15px 35px;
    border-radius: 0px;
}
.btn-shadow.btn-xl{
    padding: 15px 50px;
    border-radius: 0px;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
}

.one {
    height: 100px;
    margin: 20px;
    background: radial-gradient(circle closest-side, #56ab2f, #a8e063);
  }
  
  .two {
    height: 100px;
    margin: 20px;
    background: radial-gradient(circle 80px, #56ab2f, #a8e063);
  }
  
  .three {
    height: 100px;
    margin: 20px;
    background: radial-gradient(circle, #56ab2f, #a8e063 150px);
  }

  .btn-emp {    
    border-left: 7px solid #C8D544;
    background: #282828;
    font-weight: 600;
    font-Size: 20px;
    letter-spacing: -1.1527778px;
    line-height: 49px;
    color: #ffffff !important;
    text-align: center;
    padding: 15px 25px;
  
}
.btn-emp:hover,
.btn-emp:focus {
  box-shadow: inset 11em 0 0 0 #C8D544;
}
/**************************************************
    Top-header
***************************************************/
.top-header{
    border-bottom: 3px solid #C8D544;
}
.divider {
    border-left: 5px solid #C8D544;
}
.top-header ul{
    margin: 0px;
    padding: 0px;
}
.top-header ul li{
    padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.9333333px;
    color: #000000;
    border-bottom: 3px solid  transparent;
    
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link.active{
      border-bottom: 3px solid  #1C7B77;
  }
  .navbar-light .navbar-nav .nav-item:not(:last-child) {
    margin-right: 1.2rem;
}
.socialIcon {
  margin: 0px;
}
.socialIcon li {
    margin: 0px 8px;
}
.socialIcon li a{
    font-weight: 400;
    font-size: 25px;
    color: #000000;
}
.socialIcon li a:hover{
    color: #7EDF09;
}

.contactNumber {
    font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.2555553px;
  margin: 0px;
}

.nav-right ul{
    padding: 0px;
}

/**************************************************
    Top-header
***************************************************/
.hero {    
   background: linear-gradient(218deg, #FFFFFF, #FFFFFF, rgba(227,227,227,0.6), #80000000);
   background-blend-mode: multiply;
   padding: 0px 0px 60px;
  }
  .hero-form{
    border: dashed 0.71708685px #979797;
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    border-bottom: 10px solid #c8d544;
  }

  .f-input .form-control{
      font-weight: 300;
      font-size: 22px;
    letter-spacing: -0.870065px;
    color: #2E2706;    
    border:0px;
    border-bottom: 1px solid #979797;
    border-radius: 0px;
    background: #fcfcfc;

  }
  .hero-form{
      background: #FAFAFA;
  }
   .form-top{
    background: #fff;
  }

  .hero-form label{
        color: #2e2706;
        font-size: 22.37311px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.87006533px;
  }

  .custom-radio input[type="radio"], .custom-radio input[type="checkbox"], .donate-radio input[type="radio"]{
     visibility: hidden;      
     display: none;
  }
  .custom-radio  label, .donate-radio label{
    font-size: 14px;
    font-weight: 500;
    color: #a1a1a1;
    line-height: 21px;
    letter-spacing: normal;
    padding: .375rem .45rem;
    border:2px solid #ced4da;
    transition: all 0.2s ease;
  }

  .custom-radio  [type="radio"]:checked + label, .custom-radio input[type="checkbox"]:checked + label {
      border: 2px solid #c8d544;
      color: #3c3c3c;
  }


  /* .radio__input  input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .radio__control {
        display: block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border: 0.1em solid currentColor;
      } */


/* 
      .radio__input     [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio__input   [type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;

   
}.radio__input   
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    
}
.radio__input  [type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    
}
.radio__input   [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio__input   
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 2px solid green;
} */
  

  .bg-ee{
      background: #EEEEEE;
  }

  .hero-content h1{
    /* background: linear-gradient(180deg, #80747474, #80000000);
    background-blend-mode: overlay; */
  }

  .hero-content h2{
    font-size: 46px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -3.1125002px;
  }

  
  .hero-content p{
    color: #292e06;
    font-size: 37px;
    font-weight: 300;
    line-height: 53px;
    letter-spacing: -2.3055556px;
  }

  .section-title{
    color: #2e2706;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: -2.8px;
  }




/**************************************************
    Hero Below
***************************************************/
#herobelow{padding:70px 0px 40px;}
/* #herobelow h2{
    color: #2e2706;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: -2.8px;
} */
#herobelow h3{    
  color: #2e2706;
  font-size: 42px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -1.6333333px;
  border-bottom: solid 3px #292e06;
  padding-bottom:15px;
}

#herobelow h3 span{color:#C8D544;}
#herobelow ul{padding:0;}
#herobelow li{list-style:disc; list-style-position:inside; line-height:1.3; margin-bottom:15px;}
#herobelow li strong{font-weight:600;}
#herobelow .btn-shadow{padding:22px 60px; font-size:28px; font-weight:700; display:inline-block;
    letter-spacing: -1px;}



/**************************************************
    Program Services
***************************************************/
#programservices{padding:70px 0; background:url(../images/service.png) no-repeat #ececec; background-size: cover;}
#programservices h3, #eventsection h3{font-size:62px; color:#000000; font-weight:900;}
#programservices ul{padding:0; margin-top:20px;}
#programservices li{font-size:22px; color:#000; list-style:disc; list-style-position:inside; line-height:1.3; margin-bottom:8px;}
#programservices li strong{font-weight:600;}

#programservices .programboxes{margin-top:35px;}

.programboxes .row-eq-height{
    display: flex;
    flex-wrap: wrap;
}
#programservices .programboxes .boxcol{background:#fff; padding:20px 25px; margin-bottom:25px;
-webkit-box-shadow: 6px 2px 16px 0px rgba(166,192,188,1);
-moz-box-shadow: 6px 2px 16px 0px rgba(166,192,188,1);
box-shadow: 6px 2px 16px 0px rgba(166,192,188,1);
height: 100%;
}
#programservices .programboxes .boxcol h4{color:#1C7B77; font-size:24px; font-weight:700;}
#programservices .programboxes .boxcol p{line-height:1.2;}
#programservices .boxcol .botmlink{margin-top:15px; font-size:12px;}
#programservices .boxcol .botmlink a{margin-right:10px; 
    font-weight: 200;
    font-size: 12px;
    letter-spacing: -0.691667px;
    Color: #1C7B77;
}
#programservices .btn-green{padding:24px; font-size:28px; font-weight:900; min-width:271px; display:inline-block;}

/**************************************************
    Event Services
***************************************************/
#eventsection{padding:70px 0;}
#eventsection h3{color:#2a2201; text-transform:uppercase;}
#eventsection .eventbox{border:1px solid #979797; padding:30px 13px 0; position:relative; min-height:490px;}
#eventsection .eventbox h4{color:#2E2706; font-weight:700; font-size:40px; line-height:1;}
#eventsection .eventbox h5{font-size:12px; font-weight:700; color:#2E2706;}
#eventsection .eventbox p{font-size:12px; font-weight:400; color:#2E2706; margin-bottom:12px;}
#eventsection .eventbox p a{color:#a8a597; font-size:9px; font-weight:200;}
#eventsection .eventbox p.bigtxt{font-weight:700; color:#2E2706; font-size:20px;}
#eventsection .datesection{position:absolute; right:0; bottom:0; border:1px solid #bababa; border-right:0; padding:15px 30px; text-align:center; font-size:40px; font-weight:700; color:#2E2706; line-height:1;}
#eventsection .datesection span{font-size:22px;}




/**************************************************
    Newsroom Services
***************************************************/
.newsroom{padding:70px 0;}
.newsroom .subtxt{color:#b0aea1; font-weight:300; font-size:15px;}
.newsroom h4{font-size:22px; font-weight:700; color:#2E2706;}
.newsroom p{font-size:16px; font-weight:300; color:#6e6a51;}

/**************************************************
    Prospect Services
***************************************************/
.prospectsection{padding:45px 0; background:#f4f4f4;}
.prospectsection p{font-weight:300; color:#2E2706; line-height:1.3;}
.prospectsection strong{font-weight: 900;}
.prospectsection ul{margin:0; padding:0;}
.prospectsection li{list-style:disc; list-style-position:inside; line-height:1.3; margin-bottom:8px;}
.prospectsection li strong{font-weight:900;}
.prospectsection .btn-green{padding:24px; font-size:28px; font-weight:900; min-width:271px; display:inline-block;}

/**************************************************
    Hiring Services
***************************************************/
.videosection, .slidingbanner{padding:45px 0;}
.bgcolor{background:#f2f2f2;    
    background: rgb(242,244,247);
    background: linear-gradient(-90deg, rgba(255,255,255,1) 35%, rgba(229,229,229,1) 35%);
}
.bgcolor img{
    margin-bottom: -50px;
}

.hiringcontent h3{margin-top:-100px;}
.hiringcontent img{margin-top:-440px;}
.hiringcontent p{color:#A2A2A2; font-size:22px; line-height:1.3; font-weight:400; margin-bottom:25px;}

.videosection{
    position: relative;
}
.play-btn{
    line-height: 220px;
    width: 217px;
    height: 217px;
    background: #a5dd1c;
    display: block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    z-index: 99;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.play-btn:hover{
    color: #56ab2f;
}



  

/**************************************************
    Prospect Services
***************************************************/
.prospectservices{padding:25px 0; background: #fbfbfb;}
.logobtm{border-bottom:1px solid #979797;}
.bdright{border-right:1px solid #979797;}
.prospectservices ul{margin:0; padding:0;}
.prospectservices li{line-height:1.3; font-size:14px; color:#292E06; font-weight:400;}
.prospectservices li a{font-size:14px; color:#292E06; font-weight:400;}
.prospectservices li.bdrbtm{border-bottom:1px solid #979797; padding-bottom:5px; margin-bottom:5px;}


/**************************************************
    Donate Section Services
***************************************************/
.donatesection{ min-height:180px; padding:27px 0px 27px; 
    background: url(../images/donate-bg.png) no-repeat 100% ;

    position: relative;
}
.donatesection:before{
    content: "";
    background: url(../images/fade-donate.png) no-repeat 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0px;
    /* top: 0px; */
    width: 95%;
    bottom: 0px;
    opacity: 0.2;
}
.donate-container{
    z-index: 9;
}
.donatesection h3{font-size:24px; color:#292E06; font-weight:900;}
.donatesection p{font-size:20px; font-weight:400; line-height:1.2;}
.donatesection .form-control{border:4px solid #fff; background:none; border-radius:0; text-align:center;}
.donatesection .btn-donate{background:#fff; border:0; border-radius:0; width:100%; min-height:38px; font-weight:900; font-size:18px;}

.donate-radio .input-group, .donate-radio label{
    border:4px solid #fff; background:none; border-radius:0; text-align:center;
    align-items: center;
    justify-content: center;
}
.donate-radio .input-group input{ 
    border: 0px;
    flex: none;
    width: calc(100% - 40px);
    display: inline-block;
    text-align: left;
    padding: 0px;
    border-bottom: 1px solid #fff;
    height: 20px;
}
.donate-radio .input-group-prepend span{ background: transparent; border: 0px; color: #fff; padding-right: 5px; padding-left: 3px; height: 30px;}
.donate-radio label{
    color: #fff;
    width: 100%;
}

.donate-radio input[type="radio"]:checked + label {
    border-color: #71BA1D;
}



.donatesection .form-control::-webkit-input-placeholder { /* Edge */
  color:#fff;
}

.donatesection .form-control:-ms-input-placeholder { /* Internet Explorer */
  color:#fff;
}

.donatesection .form-control::placeholder {
  color:#fff;
}
.donatebtm{width:100%; float:left; margin-top:-10px; position: relative;}

/**************************************************
    Footer Services
***************************************************/
.footer{background:#202020; padding:15px 0;}
.footer li{display:inline-block; margin:0px 5px;}

.footer .socialIcon  li a{
    color: #fff;
    font-size: 25px;
}
.chat-icon {
    color: #fff;
    background: #868686;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 2em;
}

.footer .socialIcon li a:hover {
    color: #7EDF09;
}




/**************************************************
    Inner Page Starts
***************************************************/
.innerhero{background:url(../images/bg-inner.jpg) no-repeat; min-height:500px; border-bottom:2px solid #ace41a; background-size:cover; margin-top:-165px;}
.innernav{ position:relative;  z-index:1;  background: rgba(216,216,216,0.2); margin-bottom: 0px !important;}
.innernav .navbar-light .navbar-nav .nav-link{color:#fff;}
 .innernav .socialIcon li a{color:#fff;}
 .innernav .socialIcon li a:hover {
    color: #7EDF09;
}
.innernav .contactNumber{color:#fff;}
.innernav .btn-emp{background:#232323;}
.headinginner{margin-top:280px; font-size:90px; font-weight:600; color:#A9E21B; line-height:1; text-shadow: 0px 2px 4px rgba(0,0,0,0.5);}

.innerherobtm{padding:22px 0;}
.innerherobtm .toptabs{background:#aae314; padding:22px; margin-bottom:20px;}
.innerherobtm .toptabs a{font-size:24px; font-weight:700; color:#292E06; padding:0px 16px;}
.innerherobtm .innersubheading{color:#292E06; font-size:32px; font-weight:300;}
.innerherobtm p{margin-bottom:20px;}

.programboxes .boxcol{background:#fff; padding:20px 25px; margin-bottom:25px;
-webkit-box-shadow: 6px 2px 16px 0px rgba(166,192,188,1);
-moz-box-shadow: 6px 2px 16px 0px rgba(166,192,188,1);
box-shadow: 6px 2px 16px 0px rgba(166,192,188,1);}
.programboxes .boxcol h4{color:#1C7B77; font-size:24px; font-weight:700;}
.programboxes .boxcol p{line-height:1.2;}
.boxcol .botmlink{margin-top:15px; font-size:12px;}
.boxcol .botmlink a{margin-right:10px; 
    font-weight: 200;
    font-size: 12px;
    letter-spacing: -0.691667px;
    Color: #1C7B77;
}
.newsroom .positiontxt{font-size:15px; color:#2E2706;}
.calendarevents{padding:30px 0;}
.eventlist{border:1px solid #cfcfcf; width:100%; float:left; position:relative; margin-bottom:25px;}
.eventdate{background:#157c78; width:15%; float:left; text-align:center; font-size:90px; color:#fff; font-weight:700; line-height:1; padding:20px 0;}
.eventdate span{font-size:40px; display:block;}
.eventdetail{width:80%; float:left; padding:10px;}
.eventdetail h3{font-weight:700; color:#292E06; font-size:30px; margin-bottom:0;}
.eventsocial{position:absolute; right:0; top:20px; width:auto; padding-right:15px;}
.eventsocial ul{margin:0; padding:0;}
.eventsocial li{margin-bottom:10px;}

/**************************************************
    Responsive Layout
***************************************************/
@media only screen and (min-width:969px) and (max-width:1024px){
    #eventsection .eventbox{height:560px;}	
    }
    
    @media screen and (max-width:1023px) {
    #eventsection .datesection{padding:5px 10px; border-bottom:0; font-size:30px;}
    #eventsection .eventbox h4{font-size:24px;}
    }
    
    
    @media screen and (max-width: 767px) {
      .hero-content h2{font-size:30px; line-height:30px;}
      .section-title{font-size:32px; line-height:1.3;}
      #herobelow h3{font-size:28px; line-height:1.3;}
      #eventsection h3{font-size:32px; line-height:1.3;}
      #eventsection{padding:30px 0;}
      #eventsection .eventbox{min-height:inherit; margin-bottom:20px;}
      .donatesection{background:#a4dc1f;}
    }
    
    
    @media screen and (max-width:479px){
    
    }