<section class="donatesection">
   

    <div class="container position-relative donate-container">
        <div class="row mt-3">
            <div class="col-md-7">
                <h3>Support Prospect</h3>
                <p class="mt-4">Prospect Human Services helps individuals in Calgary and nearby reach their potential. Help us by <strong>securely donating today.</strong></p>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-3 form-group donate-radio pr-0">                            
                        <input type="radio" class="form-control" name="donate" id="donate10" placeholder="10">
                        <label for="donate10">$10</label>
                    </div>
                    <div class="col-3 form-group donate-radio pr-0">                                                   
                        <input type="radio" class="form-control" name="donate" id="donate25" placeholder="25">
                        <label for="donate25">$25</label>
                    </div>
                    <div class="col-3 form-group donate-radio pr-0">                    
                        <input type="radio" class="form-control" name="donate" id="donate50" placeholder="50">
                        <label for="donate50">$50</label>
                    </div>
                    <div class="col-3 form-group donate-radio pr-0">                    
                        <input type="radio" class="form-control" name="donate" id="donate100" placeholder="100">
                        <label for="donate100">$100</label>
                    </div>

                    
                </div>
                
                <div class="row">
                    <div class="col-6 form-group donate-radio pr-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control" placeholder="0">
                        </div>

                    </div>

                    <!-- <div class="col-6 form-group pr-0"><input type="text" class="form-control" placeholder="$________________"></div> -->
                    <div class="col-6 form-group pr-0"><button type="submit" class="btn-donate">DONATE</button></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="donatebtm"><img src="images/donate-bottom.png" alt=""></div>