<section class="donatesection">
   

    <div class="container position-relative donate-container">
        <div class="row mt-3">
            <div class="col-md-7">
                <h3>Support Prospect</h3>
                <p class="mt-4">Prospect Human Services helps individuals in Calgary and nearby reach their potential. Help us by <strong>securely donating today.</strong></p>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-3 form-group pr-0"><input type="text" class="form-control" placeholder="$10"></div>
                    <div class="col-3 form-group pr-0"><input type="text" class="form-control" placeholder="$25"></div>
                    <div class="col-3 form-group pr-0"><input type="text" class="form-control" placeholder="$50"></div>
                    <div class="col-3 form-group pr-0"><input type="text" class="form-control" placeholder="$100"></div>
                </div>
                
                <div class="row">
                    <div class="col-6 form-group pr-0"><input type="text" class="form-control" placeholder="$________________"></div>
                    <div class="col-6 form-group pr-0"><button type="submit" class="btn-donate">DONATE</button></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="donatebtm"><img src="images/donate-bottom.png" alt=""></div>