
    <!-- event-workshops -->
    <section id="eventsection">
		<div class="container">
			<h3>Events &amp; Workshops</h3>
			<div class="row mt-3">
				<div class="col-md-4">
					<div class="eventbox">
						<h4>Grieving The Loss of Normalcy</h4>
						<h5 class="mt-4">Empowerment Series Module 1: The Power Of Intention</h5>
						<p>This workshop assists participants in understanding change.</p>
						<p>Our lives have changed overnight and we have been forced to change our way of doing business as well as increasing our capacity for learning technology and new methods of communication.</p>
						<p class="mb-0"><strong>Register here:</strong></p>
						<p class="mb-0"><a href="#">https://zoom.us/meeting/regitster/tJwoduygqz0sEtfT9</a><br><strong>September 2nd, 2020</strong> 9:00 am - 11:00 am</p>
						<p class="bigtxt">Zoom - Link, Calgary, AB</p>
						
						<div class="datesection"><span>SEPT</span> <br>22</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="eventbox">
						<h4>Grieving The Loss of Normalcy</h4>
						<h5 class="mt-4">Empowerment Series Module 1: The Power Of Intention</h5>
						<p>This workshop assists participants in understanding change.</p>
						<p>Our lives have changed overnight and we have been forced to change our way of doing business as well as increasing our capacity for learning technology and new methods of communication.</p>
						<p class="mb-0"><strong>Register here:</strong></p>
						<p class="mb-0"><a href="#">https://zoom.us/meeting/regitster/tJwoduygqz0sEtfT9</a><br><strong>September 2nd, 2020</strong> 9:00 am - 11:00 am</p>
						<p class="bigtxt">Zoom - Link, Calgary, AB</p>
						
						<div class="datesection"><span>SEPT</span> <br>22</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="eventbox">
						<h4>Grieving The Loss of Normalcy</h4>
						<h5 class="mt-4">Empowerment Series Module 1: The Power Of Intention</h5>
						<p>This workshop assists participants in understanding change.</p>
						<p>Our lives have changed overnight and we have been forced to change our way of doing business as well as increasing our capacity for learning technology and new methods of communication.</p>
						<p class="mb-0"><strong>Register here:</strong></p>
						<p class="mb-0"><a href="#">https://zoom.us/meeting/regitster/tJwoduygqz0sEtfT9</a><br><strong>September 2nd, 2020</strong> 9:00 am - 11:00 am</p>
						<p class="bigtxt">Zoom - Link, Calgary, AB</p>
						
						<div class="datesection"><span>SEPT</span> <br>22</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- event-workshopss -->