
	 <!-- Our Team -->
     <section class="newsroom">
        <div class="container">
            <h3 class="mainheading text-right">F@W TEAM</h3>
            
            <div class="row mt-3">
                <div class="col-md-4">
                    <figure><img src="{{"images/news1.jpg" | absURL }}" alt=""></figure>
                    <h4 class="mb-0">FIRSTNAME LASTNAME</h4>
                    <div class="positiontxt">POSITION</div>
                    <p>Consider the story of the two stonecutters working in a quarry. When asked what they were doing, the first one replied “I’m cutting this stone.” The second replied, “I’m building a cathedral.”</p>
                    <div class="text-left mt-4"><a href="#" class="btn-green">for jobs</a></div>
                </div>
                
                <div class="col-md-4">
                    <figure><img src="{{"images/news1.jpg" | absURL }}" alt=""></figure>
                    <h4 class="mb-0">FIRSTNAME LASTNAME</h4>
                    <div class="positiontxt">POSITION</div>
                    <p>Consider the story of the two stonecutters working in a quarry. When asked what they were doing, the first one replied “I’m cutting this stone.” The second replied, “I’m building a cathedral.”</p>
                    <div class="text-left mt-4"><a href="#" class="btn-green">for jobs</a></div>
                </div>
                
                <div class="col-md-4">
                    <figure><img src="{{"images/news1.jpg" | absURL }}" alt=""></figure>
                    <h4 class="mb-0">FIRSTNAME LASTNAME</h4>
                    <div class="positiontxt">POSITION</div>
                    <p>Consider the story of the two stonecutters working in a quarry. When asked what they were doing, the first one replied “I’m cutting this stone.” The second replied, “I’m building a cathedral.”</p>
                    <div class="text-left mt-4"><a href="#" class="btn-green">for jobs</a></div>
                </div>
            </div>
        </div>
    </section>
        <!-- Our Team -->