<header>
    {{ "<!-- top header -->" | safeHTML }}
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 brand">
                    <a class="navbar-brand mt-2 pb-0" href="{{ .Site.Params.BaseURL | absURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="logo">
                    </a>
                </div>
                <div class="col-lg-9">                    
                    <ul class="list-inline text-lg-right text-center ml-auto">
                        <li class="list-inline-item">
                           {{ with .Site.Params.login }} <a href="{{ . }}" class="btn-green">LOGIN</a> {{ end }}
                        </li>
                        <li class="list-inline-item">
                            {{ with .Site.Params.donate }} <a href="{{ . }}" class="btn-shadow">DONATE </a> {{end}}

                        </li>
                        <li class="list-inline-item   ml-2 ml-md-4 ">
                             <a href="{{ . }}"><img src="{{ "images/map-icon.jpg" | absURL }}"></a> 
                         </li>
                         <li class="list-inline-item divider">
                             {{ with .Site.Params.downArrow }} <a href="{{ . }}" class="px-2"> <img src="{{ "images/down-arrow.jpg" | absURL }}"></a> {{ end }}                             
                         </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</header>