<div class="hero-form">
    <div class="container">
          <form class="row">
            <div class="col-12 form-top pt-3">
              <div class="form-row ">
                  <div class="col form-group f-input">                                      
                    <input class="form-control mr-sm-2" type="text" placeholder="Your name" aria-label="Your name">
                  </div>
              </div>
              <div class="form-row">
                  <div class="col form-group f-input">                                      
                      <input class="form-control mr-sm-2" type="text" placeholder="Your email" aria-label="Your email">
                  </div>
              </div>
            </div>
            <div class="col-12 pt-3">
              <div class="form-row bg-ee p-1 mb-2">
                  <div class="col-12">
                    <label>How long have you been looking for work?</label>
                  </div>    
                  <div class="col form-group custom-radio">
                      <input type="radio" class="" name="howlong" id="starting"  placeholder="I’m just starting" selected>
                      <label class="form-control" for="starting">
                        I’m just starting
                      </label>
                  </div>
                  <div class="col form-group custom-radio">
                      <input type="radio" class="form-control" name="howlong" id="while"  placeholder="for a while">
                      <label class="form-control" for="while">
                        for a while
                      </label>
                  </div>
                  <div class="col form-group custom-radio">
                      <input type="radio" class="form-control" name="howlong" id="long"  placeholder="A long time">
                      <label class="form-control" for="long">
                        A long time
                      </label>
                  </div>
                  
              </div>

              <div class="form-row bg-ee p-1 mb-2">
                <div class="col-12">
                  <label>Why are you looking for work?</label>
                </div> 

                <div class="col form-group custom-radio">
                    <input type="radio" class="form-control" name="whylooking" id="re-train"  placeholder="To re-train">
                    <label class="form-control" for="re-train">
                      To re-train
                    </label>
                </div>      
                <div class="col form-group custom-radio">
                    <input type="radio" class="form-control" name="whylooking" id="career-change"  placeholder="I need a career change">
                    <label class="form-control" for="career-change">
                      I need a career change
                    </label>
                </div>      
                <div class="col form-group custom-radio">
                    <input type="radio" class="form-control" name="whylooking" id="basic-needs"  placeholder="To meet my basic needs">
                    <label class="form-control" for="basic-needs">
                      To meet my basic needs
                    </label>
                </div> 
            </div>

            <div class="form-row  bg-ee p-1 mb-2">
              <div class="col-12">
                <label>Could these services help you?</label>
              </div>  
              <div class="col-4 form-group custom-radio">
                  <input type="checkbox" class="form-control" name="services" id="ex-military"  placeholder="Ex-military">
                  <label class="form-control" for="ex-military">
                    Ex-military
                  </label>
              </div> 
                
              <div class="col-4 form-group custom-radio">
                  <input type="checkbox" class="form-control" name="services" id="disability"  placeholder="Disability services">
                  <label class="form-control" for="disability">
                    Disability services
                  </label>
              </div>  
              <div class="col-4 form-group custom-radio">
                  <input type="checkbox" class="form-control" name="services" id="youth"  placeholder="Youth services">
                  <label class="form-control" for="youth">
                    Youth services
                  </label>
              </div>  
              <div class="col-4 form-group custom-radio">
                  <input type="checkbox" class="form-control" name="services" id="PDD"  placeholder="PDD">
                  <label class="form-control" for="PDD">
                    PDD
                  </label>
              </div>  
              <div class="col-4 form-group custom-radio">
                  <input type="checkbox" class="form-control" name="services" id="technology-access"  placeholder="Technology access">
                  <label class="form-control" for="technology-access">
                    Technology access
                  </label>
              </div>  
              <div class="col-4 form-group custom-radio">
                  <input type="checkbox" class="form-control" name="services" id="coaching"  placeholder="Job Coaching">
                  <label class="form-control" for="coaching">
                    Job Coaching
                  </label>
              </div> 

          </div>

            </div>
            <div class="form-row">
              <div class="col-12 form-group">                                      
                <button type="submit" class="btn-shadow btn-lg ml-4">CONTINUE</button>
              </div>
          </div>
            
            
          
          </form>

      </div>

</div>