<div class="hero-form">
    <div class="container">
          <form class="row">
            <div class="col-12 form-top pt-3">
              <div class="form-row ">
                  <div class="col form-group f-input">                                      
                    <input class="form-control mr-sm-2" type="text" placeholder="Your name" aria-label="Your name">
                  </div>
              </div>
              <div class="form-row">
                  <div class="col form-group f-input">                                      
                      <input class="form-control mr-sm-2" type="text" placeholder="Your email" aria-label="Your email">
                  </div>
              </div>
            </div>
            <div class="col-12 pt-3">
              <div class="form-row bg-ee p-1 mb-2">
                  <div class="col-12">
                    <label>How long have you been looking for work?</label>
                  </div>                                  
                  <div class="col form-group">
                      <input type="text" class="form-control" placeholder="I’m just starting">
                  </div>
                    <div class="col form-group">
                    <input type="text" class="form-control" placeholder="for a while">
                    </div>                                
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="A long time">
                    </div>
              </div>

              <div class="form-row bg-ee p-1 mb-2">
                <div class="col-12">
                  <label>Why are you looking for work?</label>
                </div>                                  
                  <div class="col form-group">
                      <input type="text" class="form-control" placeholder="To re-train">
                  </div>
                  <div class="col form-group">
                  <input type="text" class="form-control" placeholder="I need a career change">
                  </div>                                
                  <div class="col form-group">
                      <input type="text" class="form-control" placeholder="To meet my basic needs">
                  </div>
            </div>

            <div class="form-row  bg-ee p-1 mb-2">
              <div class="col-12">
                <label>Could these services help you?</label>
              </div>                                  
                <div class="col-4 form-group">
                    <input type="text" class="form-control" placeholder="Ex-military ">
                </div>
                <div class="col-4 form-group">
                <input type="text" class="form-control" placeholder="Disability services">
                </div>                                
                <div class="col-4 form-group">
                    <input type="text" class="form-control" placeholder="Youth services">
                </div>

                                                
                <div class="col-4 form-group">
                  <input type="text" class="form-control" placeholder="PDD">
              </div>
              <div class="col-4 form-group">
              <input type="text" class="form-control" placeholder="Technology access">
              </div>                                
              <div class="col-4 form-group">
                  <input type="text" class="form-control" placeholder="Job Coaching">
              </div>
          </div>

            </div>
            <div class="form-row">
              <div class="col-12 form-group">                                      
                <button type="submit" class="btn-shadow btn-lg ml-4">CONTINUE</button>
              </div>
          </div>
            
            
          
          </form>

      </div>

</div>