<!-- hero-below -->
<section id="herobelow" class="section">
    <div class="container">
        <h2 class="mb-4 section-title">FULFILLING JOBS IN ALBERTA</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <h3 class="mb-3">Prospect <span>Human</span> Services.</h3>
                <p>A job is a key part of a person's <strong>physical, mental, and emotional well-being.</strong> Unfortunately, too many people face barriers to employment.</p>
                <ul class="mt-3">
                    <li>Prospect <strong>works with everyone</strong> from recent immigrants to ill-and-injured military veterans to people with disabilities.</li>
                    <li>We're a <strong>not-for-profit</strong> organization, but our main motivation isn't charity.</li>
                    <li>We believe everyone who is ready, willing and able to work and wants a <strong>fulfilling job</strong> should have one.</li>
                    <li>We're driven to help people who face barriers to employment because <strong>society reaps the benefits</strong> for years to come.</li>
                </ul>
            </div>
            
            <div class="col-md-6">
                <h3 class="mb-3"><span>How</span> Prospect does it.</h3>
                <ul>
                    <li>Prospect has <strong>decades</strong> of experience in broadening the workforce, helping job seekers and employers alike.</li>
                    <li>We <strong>work with industry</strong> to understand the jobs and skill sets they are going to need, and with individuals to prepare them for these areas of demand.</li>
                    <li>We always look at workforce development from <strong>demand and supply</strong> perspectives.</li>
                    <li>What we've found is that employers are often missing out on skilled employees from <strong>non-traditional</strong> pools.</li>
                </ul>
            </div>
        </div>
        <div class="text-right"><a href="#" class="btn-shadow">MORE</a></div>
    </div>
</section>
<!-- hero-below -->