<section class="prospectsection">
    <div class="container">
        <h3 class="subheading"><span>How</span> Prospect does it.</h3>
        <p>Prospect offers a <strong>variety of programs and services for job seekers and employers</strong>. All our programs are developed through consultation with the people they will serve. All are designed to <strong>connect skilled people with employers</strong> who will work with them to succeed. Our programs and services are characterised by the following criteria:</p>
        <ul class="mt-4">
            <li><strong>Rapid employment</strong> placement coupled with access to stabilization supports</li>
            <li>Service design and delivery that is <strong>informed by participants</strong></li>
            <li>Experiential learning and <strong>practical experience</strong></li>
            <li><strong>Continuous refinement</strong> based on feedback from our clients, funders, and other stakeholders</li>
            <li>Smart use of <strong>assistive technology</strong> and equipment</li>
            <li><strong>Rigorous evaluation</strong> frameworks and outcomes reporting</li>
        </ul>
        
        <div class="text-right"><a href="#" class="btn-xl btn-shadow">MORE</a></div>
    </div>
</section>