
    <!-- Calendar Events Inner -->
	<section class="calendarevents">
		<div class="container">
			<h2 class="section-title mb-4">CALENDAR OF EVENTS</h2>
			<div class="row">
				<div class="col-md-12">
					<div class="eventlist">
						<div class="eventdate"><span>SEPT</span>22</div>
						<div class="eventdetail">
							<h3>Event Name</h3>
							<p>Prospect Human Services is an organization backed by over 50 years of experience in managing transitions to civilian employment. We started out serving personnel of Canada’s military by offering a place for World War II veterans and veterans of the Korean War to connect to the community and the workforce.</p>
						</div>
						<div class="eventsocial">
							<ul>
								<li><a href="#"><img src="images/fbicon.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/twiticon.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/watsappicon.jpg" alt=""></a></li>
							</ul>
						</div>
					</div>
					
					<div class="eventlist">
						<div class="eventdate"><span>SEPT</span>22</div>
						<div class="eventdetail">
							<h3>Event Name</h3>
							<p>Prospect Human Services is an organization backed by over 50 years of experience in managing transitions to civilian employment. We started out serving personnel of Canada’s military by offering a place for World War II veterans and veterans of the Korean War to connect to the community and the workforce.</p>
						</div>
						<div class="eventsocial">
							<ul>
								<li><a href="#"><img src="images/fbicon.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/twiticon.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/watsappicon.jpg" alt=""></a></li>
							</ul>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</section>
	<!-- Calendar Events Inner -->