{{ "<!-- nav bar -->" | safeHTML }}
    <div class="navigation mb-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <a class="navbar-brand d-none" href="{{ .Site.Params.BaseURL | absURL }}">
                    <img src="{{ .Site.Params.logo | absURL }}" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse align-items-start" id="navigation">
                    <ul class="navbar-nav mr-auto">
                        <!-- 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}{{ .Language.LanguageName | lower }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
                        </li> -->
                        {{ range .Site.Menus.nav }}
                        {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {{ .Name }}
                            </a>
                            <div class="dropdown-menu" >
                                {{ range .Children }}
                                <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </li>
                        {{ else }}
                        <li class="nav-item ">
                            <a class="nav-link px-0" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }}

                        
                    </ul>
                    <div class="my-2 my-lg-0 nav-right">
                        <ul>
                            {{ if .Site.Params.quoteBtn.enable }}
                            <li class="nav-item ml-auto">
                                <a class="{{.Site.Params.quoteBtn.klass}}" href="{{ .Site.Params.quoteBtn.btnURL | absURL }}">{{ with .Site.Params.quoteBtn.btnText }} {{ . }} {{ end }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ "<!-- social icon -->" | safeHTML }}
                        <ul class="list-inline socialIcon ">
                            {{ range .Site.Params.socialIcon }}
                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="{{ .URL | absURL }}">
                                    <i class="fa {{ .icon }}"></i>
                                </a>
                            </li>
                            {{ end }}
                        </ul>

                        
                        {{ "<!-- Contact Number -->" | safeHTML }}
                        <ul class="contactNumber">
                            {{ range .Site.Params.contactNumber }}
                                <li class="">
                                    <strong>{{ .location }}</strong> : {{ .number }}                               
                                </li>
                            {{ end }}
                        </ul>

                       
                    </div>

                   
                </div>
            </nav>
        </div>
    </div>