<!-- newsroom -->
<section class="newsroom">
    <div class="container">
        <h3 class="mainheading text-right">Newsroom</h3>
        
        <div class="row mt-3">
            <div class="col-md-4">
                <figure><img src="images/news1.jpg" alt=""></figure>
                <div class="subtxt">#Coaching</div>
                <h4>WORK TO LIVE OR LIVE TO WORK?</h4>
                <p>Consider the story of the two stonecutters working in a quarry. When asked what they were doing, the first one replied “I’m cutting this stone.” The second replied, “I’m building a cathedral.”</p>
                <div class="text-left mt-4"><a href="#" class="btn-green">for jobs</a></div>
            </div>
            
            <div class="col-md-4">
                <figure><img src="images/news1.jpg" alt=""></figure>
                <div class="subtxt">#Coaching</div>
                <h4>Burn out or fade away?</h4>
                <p>In 1978, legendary Canadian rocker Neil Young (number 34 on Rolling Stone magazine’s list of greatest rock ‘n roll artists) recorded his landmark song, “My, My, Hey, Hey”.</p>
                <div class="text-left mt-4"><a href="#" class="btn-green">for jobs</a></div>
            </div>
            
            <div class="col-md-4">
                <figure><img src="images/news1.jpg" alt=""></figure>
                <div class="subtxt">#Coaching</div>
                <h4>WORK TO LIVE OR LIVE TO WORK?</h4>
                <p>Consider the story of the two stonecutters working in a quarry. When asked what they were doing, the first one replied “I’m cutting this stone.” The second replied, “I’m building a cathedral.”</p>
                <div class="text-left mt-4"><a href="#" class="btn-green">for jobs</a></div>
            </div>
        </div>
    </div>
</section>
<!-- newsroom -->