
    <!-- programs-services -->
    <section id="programservices" class="section">
		<div class="container">
			<h2 class="section-title mb-4">{{   .Params.programServices.secHeading | safeHTML }}</h2>
			{{   .Params.programServices.body | safeHTML }}
			
			<div class="programboxes">
				<div class="row row-eq-height">

					{{range .Site.Data.services.lists}}
					<div class="col-md-6 mb-3">
						<div class="boxcol">
							<h4>{{.title | safeHTML}}</h4>
							<p>{{.body | safeHTML}}</p>
							<div class="botmlink">
								{{range .tags }}
								<a href="{{.url}}">{{.name  | safeHTML}}</a> 
								{{end}}
							</div>
						</div>
					</div>
					{{end}}
				</div>
				
				<div class="text-left"><a href="#" class="btn-green text-uppercase">All Programs</a></div>
			</div>
		</div>
	</section>
    <!-- programs-services -->