
    <!-- programs-services -->
    <section id="programservices" class="section">
		<div class="container">
			<h2 class="section-title mb-4">PROGRAMS &amp; SERVICES</h2>
			<ul>
				<li>Prospect has <strong>decades</strong> of experience in broadening the workforce, helping job seekers and employers alike.</li>
				<li>We <strong>work with industry</strong> to understand the jobs and skill sets they are going to need, and with individuals to prepare them for these areas of demand.</li>
				<li>We always look at workforce development from <strong>demand and supply</strong> perspectives.</li>
				<li>What we've found is that employers are often missing out on skilled employees from <strong>non-traditional</strong> pools.</li>
			</ul>
			
			<div class="programboxes">
				<div class="row">
					<div class="col-md-6">
						<div class="boxcol">
							<h4>SKILL GAIN</h4>
							<p>Would you benefit by increasing your ability to write and navigate common workplace documents? Would you be more employable if you build your reading and math literacy? Do you struggle with computers and want to learn how to use them both to apply for jobs and on the job?</p>
							<div class="botmlink">
								<a href="#">#technology</a> <a href="#">#skills</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>ENTREPRENEURS WITH DISABILITIES</h4>
							<p>Available at no cost. Designed for people who live in the Metro Edmonton Area, with a permanent disability or chronic condition who have a viable business idea they’re passionate about, are ready, willing and motivated to run a business, and are creative, resourceful and ready for change.</p>
							<div class="botmlink">
								<a href="#">#disabilityservices</a> <a href="#">#edmonton</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>Career Links</h4>
							<p>Career Links provides fast-track employment placement supports for individuals experiencing challenges to workforce participation as a result of mental health illness or issues, including those who may have concurrent substance abuse disorders.</p>
							<div class="botmlink">
								<a href="#">#placement</a> <a href="#">#mentalhealth</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>Forces @ Work</h4>
							<p>Forces@WORK is an employment placement service offered through Prospect Human Services. We help ill and injured Canadian Armed Forces veterans, medical releases, reservists and family members of serving personnel find and keep good civilian jobs that will maintain their quality of life.</p>
							<div class="botmlink">
								<a href="#">#forces</a> <a href="#">#edmonton</a> <a href="#">#calgary</a> <a href="#">#careers</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>SKILL GAIN</h4>
							<p>Would you benefit by increasing your ability to write and navigate common workplace documents? Would you be more employable if you build your reading and math literacy? Do you struggle with computers and want to learn how to use them both to apply for jobs and on the job?</p>
							<div class="botmlink">
								<a href="#">#technology</a> <a href="#">#skills</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>SKILL GAIN</h4>
							<p>Would you benefit by increasing your ability to write and navigate common workplace documents? Would you be more employable if you build your reading and math literacy? Do you struggle with computers and want to learn how to use them both to apply for jobs and on the job?</p>
							<div class="botmlink">
								<a href="#">#technology</a> <a href="#">#skills</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>SKILL GAIN</h4>
							<p>Would you benefit by increasing your ability to write and navigate common workplace documents? Would you be more employable if you build your reading and math literacy? Do you struggle with computers and want to learn how to use them both to apply for jobs and on the job?</p>
							<div class="botmlink">
								<a href="#">#technology</a> <a href="#">#skills</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>SKILL GAIN</h4>
							<p>Would you benefit by increasing your ability to write and navigate common workplace documents? Would you be more employable if you build your reading and math literacy? Do you struggle with computers and want to learn how to use them both to apply for jobs and on the job?</p>
							<div class="botmlink">
								<a href="#">#technology</a> <a href="#">#skills</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>SKILL GAIN</h4>
							<p>Would you benefit by increasing your ability to write and navigate common workplace documents? Would you be more employable if you build your reading and math literacy? Do you struggle with computers and want to learn how to use them both to apply for jobs and on the job?</p>
							<div class="botmlink">
								<a href="#">#technology</a> <a href="#">#skills</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="boxcol">
							<h4>SKILL GAIN</h4>
							<p>Would you benefit by increasing your ability to write and navigate common workplace documents? Would you be more employable if you build your reading and math literacy? Do you struggle with computers and want to learn how to use them both to apply for jobs and on the job?</p>
							<div class="botmlink">
								<a href="#">#technology</a> <a href="#">#skills</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="text-left"><a href="#" class="btn-green text-uppercase">All Programs</a></div>
			</div>
		</div>
	</section>
    <!-- programs-services -->