{{ define "main" }}  
    {{ "<!-- Header -->" | safeHTML }}

    {{ partial "header.html" . }}

    {{ "<!-- Header -->" | safeHTML }}
    
    
    {{ "<!-- Hero -->" | safeHTML }}
    
    {{ partial "hero.html" . }}

    {{ "<!-- Hero -->" | safeHTML }}

    {{ "<!-- hero-below -->" | safeHTML }}
    
    {{ partial "hero-below.html" . }}

    {{ "<!-- hero-below -->" | safeHTML }}

    {{ "<!-- programs-services -->" | safeHTML }}
    
    {{ partial "programs-services.html" . }}

    {{ "<!-- programs-services -->" | safeHTML }}

    {{ "<!-- event-workshops -->" | safeHTML }}
    
    {{ partial "event-workshops.html" . }}

    {{ "<!-- event-workshopss -->" | safeHTML }}

    {{ "<!-- donate -->" | safeHTML }}
    
    {{ partial "donate.html" . }}

    {{ "<!-- donate -->" | safeHTML }}

    {{ "<!-- newsroom -->" | safeHTML }}
    
    {{ partial "newsroom.html" . }}

    {{ "<!-- newsroom -->" | safeHTML }}

    {{ "<!-- how-prospect-does -->" | safeHTML }}
    
    {{ partial "how-prospect-does.html" . }}

    {{ "<!-- how-prospect-does -->" | safeHTML }}

    {{ "<!-- video -->" | safeHTML }}
    
    {{ partial "video.html" . }}

    {{ "<!-- video -->" | safeHTML }}

    {{ "<!-- hiring -->" | safeHTML }}
    
    {{ partial "hiring.html" . }}

    {{ "<!-- hiring -->" | safeHTML }}

    {{ "<!-- image-gallery -->" | safeHTML }}
    
    {{ partial "image-gallery.html" . }}

    {{ "<!-- image-gallery -->" | safeHTML }}


{{ end }}