{{ define "main" }}  
    {{ "<!-- Header -->" | safeHTML }}

    {{ partial "header.html" . }}

    {{ "<!-- Header -->" | safeHTML }}
    
    
    {{ "<!-- Hero -->" | safeHTML }}
  
        {{ partial "hero.html" . }} 

    {{ "<!-- hero-below -->" | safeHTML }}
    {{if .Params.fulfillingJobs.enable }}
        {{ partial "hero-below.html" . }}
    {{end}}

    {{ "<!-- hero-below -->" | safeHTML }}
    {{if .Params.programServices.enable }} 
        {{ "<!-- programs-services -->" | safeHTML }}
        {{ partial "programs-services.html" . }}
        
    {{end}}
    

    {{ "<!-- programs-services -->" | safeHTML }}

    {{if .Params.events.enable }}

    {{ "<!-- event-workshops -->" | safeHTML }}
    
    {{ partial "event-workshops.html" . }}

    {{ "<!-- event-workshopss -->" | safeHTML }}

    {{end}}

    {{if .Params.donate.enable }}

        {{ "<!-- donate -->" | safeHTML }}
        
        {{ partial "donate.html" . }}

        {{ "<!-- donate -->" | safeHTML }}

    {{end}}

    {{if .Params.newsroom.enable }}

        {{ "<!-- newsroom -->" | safeHTML }}
        
        {{ partial "newsroom.html" . }}

        {{ "<!-- newsroom -->" | safeHTML }}
    {{end}}

    {{if .Params.howProspectDoes.enable }}
        {{ "<!-- how-prospect-does -->" | safeHTML }}
        
        {{ partial "how-prospect-does.html" . }}

        {{ "<!-- how-prospect-does -->" | safeHTML }}
    {{end}}

    {{if .Params.video.enable }}

        {{ "<!-- video -->" | safeHTML }}
        
        {{ partial "video.html" . }}

        {{ "<!-- video -->" | safeHTML }}
    {{end}}

    {{if .Params.hiring.enable }}

        {{ "<!-- hiring -->" | safeHTML }}
        
        {{ partial "hiring.html" . }}

        {{ "<!-- hiring -->" | safeHTML }}
    {{end}}
    
    {{if .Params.imageGallery.enable }}

        {{ "<!-- image-gallery -->" | safeHTML }}
    
    
        {{ partial "image-gallery.html" . }}

        {{ "<!-- image-gallery -->" | safeHTML }}
    {{end}}


{{ end }}